<nav>
  <div class="container flex navbar">
    <!-- LOgo and Links -->
    <div class="nav-left">
      <div class="nav-links">
        <ul class="flex">
          <li>
            <a href="">
              <img src="/logo.svg" alt="" />
            </a>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="">New</a></li>
          <li><a href="">Popular</a></li>
          <li><a href="">About</a></li>
          <li><a href="/article/create">Add an article</a></li>
        </ul>
      </div>
    </div>
    <!-- Search bar -->
    <div class="nav-right">
      <input
        id="search"
        type="text"
        class="search"
        placeholder="Search Articles"
      />
      <label for="search" id="search-btn">
        <i class="fas fa-search fa-2x"></i>
      </label>
    </div>
  </div>
</nav>
