<nav>
  <div class="container flex navbar">
    <!-- LOgo and Links -->
    <div class="nav-left">
      <div class="nav-links">
        <ul class="flex">
          <li>
            <a href="">
              <img src="logo.svg" alt="" />
            </a>
          </li>
          <li><a href="">Home</a></li>
          <li><a href="">New</a></li>
          <li><a href="">Popular</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <!-- Search bar -->
    <div class="nav-right">
      <input type="text" class="search" placeholder="search article" />
      <i class="fas fa-search fa-2x"></i>
    </div>
  </div>
</nav>
