<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs")%>

    <!-- Main Section -->

    <main class="hero">
      <div class="container tobehide">
        <h1 style="text-align: center; margin-top: 20%; font-size: 2.5em">
          404, Sorry The page you have requested is not there.
        </h1>
      </div>
    </main>

    <script src="/js/index.js"></script>
  </body>
</html>
