@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(to right, #4776e6, #8e54e9);
  padding: 0 0 20px 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
.container h1 {
  margin-bottom: 20px;
  font-size: 3em;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
}
nav .container {
  justify-content: space-between;
}

.nav-left img {
  width: 65px;
  transform: translateY(-15px);
}

.nav-links ul li {
  padding: 30px 20px 0px 20px;
}

.nav-links ul li a {
  font-size: 1.2em;
  color: #ffffff;
}

.nav-right {
  padding: 22px 0 0 0;
}
.nav-right input {
  font-size: 1.1em;
  padding: 10px 30px;
  border: 0;
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 15px;
}

.nav-right input:focus,
button:focus {
  outline: none;
}

.nav-right i {
  transform: translateY(4px);
  cursor: pointer;
  color: #ffffff;
}

/* Articles */
.hero {
  margin-top: 50px;
}
.popular-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-auto-rows: 350px;
  gap: 50px;
}
.article {
  position: relative;
  border: 2px solid white;
}
.popular-poster {
  width: 100%;
  height: 100%;
}
.article img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.info {
  padding: 0px 0px 10px 10px;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

.top button {
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: tomato;
  border: 0;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

.top span {
  margin-left: 15px;
  font-size: 1.2em;
}
.info p {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
}

/* Recent Articles */

.recent-articles {
  margin-top: 80px;
  overflow: hidden;
}
.articles-div {
  padding: 5px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  margin-top: 20px;
}

.recent-articles h2 {
  color: white;
}
.r-article {
  padding-bottom: 10px;
  position: relative;
}
.r-article img {
  border: 2px solid white;
}
.delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 4px 8px;
  border: 0;
  margin: 0 0.3em 0.3em 0;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

.delete-btn:hover {
  color: #000000;
  background-color: #e64165;
  z-index: 5;
}
.r-article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.r-article-info {
  margin-top: 5px;
  padding: 12px 0px 0px 0px;
}

.r-article-info span:first-child {
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: tomato;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.r-article-info span:nth-child(2) {
  margin-left: 15px;
  font-size: 1.1em;
  color: white;
}
.r-article-info p {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  width: 100%;
  margin-top: 10px;
}

/* Details Page */
.poster img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}
.about-article {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  box-shadow: 0 1px 10px #f02eaab3;
  border-radius: 20px;
}
.about-article h3 {
  color: white;
  font-size: 2.2em;
  margin-bottom: 10px;
}
.about-article span {
  color: #b3b3b3;
  font-size: 1.5em;
}
.about-article p {
  color: #b9b9b9;
  font-size: 1.3em;
  margin-top: 20px;
  line-height: 1.4;
  letter-spacing: 1px;
}

/* Utilities classes */
.flex {
  display: flex;
  justify-content: center;
  justify-content: center;
}

.card {
  transition: all 0.5s ease-out;
}

.card:hover {
  transform: translateY(-5px) scale(1.03);
}
